body {
    font-family: 'Montserrat', sans-serif;
    color: #fff; 
    height: 100vh;
    display: flex;
    margin: 0;
}

.left-section {
    width: 33.33%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-section h1 {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    margin-top: 0; 
}

.right-section {
    width: 66.67%;
    background-color: #fff; 
    color: #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 100%;
    max-width: 550px;
    padding: 2rem;
    background-color: #fff;
    color: #000;  
    box-shadow: none;  
}

.container-fluid {
    min-height: 100vh;
}

.row {
    min-height: 100vh;
}

.col-12 {
    display: flex;
    align-items: center;
    justify-content: left;
}

.col-md-4 {
    background-color: #000; 
    color: #fff; 
    padding: 20px;
    padding-top: 60px;
}

.col-md-8 {
    background-color: #fff;
}

.btn-yellow {
    background-color: yellow;
    color: black; 
    border: none; 
    box-shadow: none; 
    width: 100px;
    border-radius: 25px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

